#customCursor {
	z-index: 50;
	position: fixed;
	top: 0;
	left: 0;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	pointer-events: none;
	will-change: transform;
	background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.169);
}